@model MVCProjectImplementationOfMasterDetails.Models.AllowanceType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllowanceType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AllowanceCategory.AllowanceCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceCategory.AllowanceCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowanceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AllowanceTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
