@model IEnumerable<MVCProjectImplementationOfMasterDetails.Models.AllowanceCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AllowanceCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AllowanceCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AllowanceCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AllowanceCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AllowanceCategoryId })
        </td>
    </tr>
}

</table>
